<div class="container">
  <form autocomplete="false" (ngSubmit)="pesquisar()">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label class="label  label-input">Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label class="label  label-input">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width : '95px'}" name="dataVemcimentoInicial"
            [(ngModel)]="filtro.dataVencimentoInicial"></p-calendar>
        <label class="label">até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width : '95px'}" name="dataVemcimentoFinal"
            [(ngModel)]="filtro.dataVencimentoFinal"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div clas="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="lancamentos" [responsive]="true"
        emptyMessage="Nenhum lançamento encontrado"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistro"
        (onLazyLoad)="paginar($event)"
        #tabela>
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <p-column header="Vencimento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span>{{lanc.dataVencimento | date:'dd/MM/y'}}</span>
          </ng-template>
        </p-column>
        <p-column header="Pagamento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span>{{lanc.dataPagamento | date:'dd/MM/y'}}</span>
          </ng-template>
        </p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span [style.color]="lanc.tipo === 'DESPESA' ? 'red':blue">{{lanc.valor | currency:'BRL':true:'1.2-2'}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template let-lanc="rowData" pTemplate="body">
            <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmacaoExcluir(lanc)"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12">
        <a pButton label="Novo lançamento"></a>
    </div>

  </div>
</div>
