<div class="container">
  <form #f="ngForm" autocomplete="false" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{acao}} categoria</h1>
      </div>
      <div class="ui-g-12  ui-fluid">
        <label class="label  label-input">Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="categoria.nome" #nome="ngModel" required>

        <app-message [control]="nome" error="required" message="Informe o nome"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="salvar" [disabled]="f.invalid"></button>
        <a routerLink="/categorias/nova" pButton type="" label="Novo" class="ui-button-info"></a>
        <a routerLink="/categorias">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>

