<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova pessoa</h1>
      </div>

      <div class="ui-g-12  ui-fluid">
        <label class="label  label-input">Nome</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12  ui-md-8  ui-fluid">
        <label class="label  label-input">Logradouro</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label class="label  label-input">Número</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label class="label  label-input">Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label class="label  label-input">Bairro</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12  ui-md-4  ui-fluid">
        <label class="label  label-input">CEP</label>
        <p-inputMask mask="99.999-999" type="text"></p-inputMask>
      </div>

      <div class="ui-g-12  ui-md-6  ui-fluid">
        <label class="label  label-input">Cidade</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12  ui-md-6  ui-fluid">
        <label class="label  label-input">Estado</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
